{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "globals": {
    "alert": false,
    "console": false,
    "window": false
  },
  "rules": {
    "semi": [2, "always"],  // 必须使用分号，且正确使用
    "no-multiple-empty-lines": 0,  // 不限制连续的空行数量
    "space-before-function-paren": [2, {  // 匿名函数需要空格，命名的不需要
      "anonymous": "always",
      "named": "never"
    }],
    "no-unused-vars": 1,  // 取消禁止未使用过的变量，主要是因为 react-unknow-prop 原因
    "no-useless-constructor": 1,  // 取消禁用不必要的构造函数，主要是为了生存文档时有 props 参数文档
    "react/jsx-no-bind": 0,
    "no-unneeded-ternary": 0  // 三目运算
  }
}
